.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  inline-size: 100%;
  max-inline-size: 1000px;
  gap: 20px;
}