
@import '../../../utils//variables.scss';

.button {
  position: relative;
  z-index: 10;
  border-radius: 10px;
  padding-block: 5px;
  overflow: hidden;
  font-family: $fontSecondary;
  font-size: $font-small-size;
  background-color: transparent;
  inline-size: 120px;
  max-block-size: 30px;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    border: 1px solid #000;
  }
  @media (max-width: 768px) {
    visibility: hidden;
  }
} 

