@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Podkova:wght@400..800&display=swap');

@import './fonts.scss';

$fontArtifika: 'Artifika', Georgia, 'Times New Roman', Times, serif;
$fontPodkova: 'Podkova', Georgia, 'Times New Roman', Times, serif;

$color-light: #EFEAEA;
$color-green-dark: #808E6A;
$color-dark: #666;
$color-black: #000;
$color-white: #fff;
$font-main-size: 75px;
$font-section-size: 35px;
$font-subtitle-size: 25px;
$font-text-size: 18px;
$font-small-size: 14px;


$fontGeneral: 'Times New Roman', Times, serif;
$fontSecondary: Arial, Helvetica, sans-serif;