@import '../../utils/variables.scss';

.footer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  padding: 40px 105px;

  background-image: linear-gradient(to bottom, $color-light, $color-green-dark);
  
  &__copyright {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    color: $color-black;
    font-family: $fontArtifika;
    font-size: $font-small-size;
    text-shadow: 1px 1px 0px $color-light;
  }
  &_dark  {
    background-image: linear-gradient(to bottom, $color-light, $color-black);
  }
  &_dark &__copyright {
    color: $color-white;
    text-shadow: 1px 1px 0px $color-dark;
  }
}