@import '../../../utils/variables.scss';

.mapLink {
  color: $color-black;
  font-family: $fontArtifika;
  font-size: $font-small-size;
  text-shadow: 1px 1px 0px $color-light;
  &_dark {
    color: $color-white;
  text-shadow: 1px 1px 0px $color-black;

  }
}